<footer>
    <div id="signs">Coding Ninjas. All Rights Reserved</div>
    <ul class="no-list">
        <% if (locals.user){ %>
            <li>
                <a href="/users/profile">
                    Profile
                </a>
            </li>
            <li>
                <a href="/">Home</a>
            </li>
            <% } %>
    </ul>
</footer>