header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  background-color: #089eda; }
  header #sign {
    font-family: sans-serif;
    color: white; }
  header ul {
    display: inline;
    text-decoration-style: none; }
    header ul li {
      display: inline;
      text-decoration: none;
      margin-left: 5px; }
      header ul li a {
        color: white;
        text-decoration: none;
        font-family: sans-serif; }
